
.new-order-panel{margin: 0px;}
#page-wrapper{
    margin:15px;
}
.order-list{
    border-right: 1px #ddd solid;
    padding:15px 25px 15px 25px;
}
.panel-body{
    padding:0;
}
.table-order{
    margin-top:10px;
} 
.table>tbody>tr.edit-item>td, .table>tbody>tr.edit-item>th,   .table>thead>tr.edit-item>td, .table>thead>tr.edit-item>th {
    padding: 0;
}
.order-count{
    border-bottom: 1px solid lightgray;
    padding: 5px;
    margin-right: 15px;
}
.panel-heading{
    background: lightblue;
    border-bottom: 1px solid blue; }
.new-order-panel{
    box-shadow:3px 3px 10px lightblue; 
    border: 1px solid blue;
}